# Byte-compiled / optimized / DLL files
__pycache__/

# Environments
.env
.venv
env/
venv/
ENV/

# Ignore pip metadata
*.egg-info/

# Scrabbles in pritozevanje
plan.md
Plan.md
proba*
Analiza/
analiza/